.App {
  text-align: center;
}

.App-logo {
  position: relative;
  animation: App-logo-spin infinite .8s ease-in-out;
  height: 52px;
  bottom: 20%;
}

/* .search-container-super-awesome {
  position: relative;
} */

.logo-container {
  position: fixed;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #111;
  height: 150px;
  padding: 20px 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#menu-top {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#menu-top a {
  color: white;
  margin: 0 6px;
  text-decoration: none;
}

#menu-top a:hover {
  font-weight: bold;
}

.foo {
  font-weight: bold;
  color: royalblue;
}

.profile-picture {
  border-radius: 50%;
  border: 8px solid #1E4F95;
  max-height: 122px;
  width: auto;
  transition-duration: 0.4s;
}

.fa {
  color: black;
  font-size: 36px;
  margin: 8px;
  transition-duration: .3s;
}

.fa:hover {
  position: relative;
  /* animation: fa-hover .2s ease-in-out; */
}

.fa-envelope-o:hover {
  color: orangered;
}

.fa-twitter:hover {
  color: darkturquoise;
}

.fa-youtube:hover {
  color: firebrick;
}

.fa-twitch:hover {
  color: purple;
}

.fa-linkedin:hover {
  color: #366DBD;
}

.contact-container {
  margin: 4px;
  display: flex;
  justify-content: center;
}

.profile-picture:hover {
  transform: scale(1.1);
  border: 8px solid #366DBD;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 250px; */
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.result-container {
  border: 1px solid #ccc;
  border-radius: 8px; 
  margin: 12px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.card-container {
  margin-top: 10px;
  min-width: 320px;
  max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  color: #eee;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #bd3736;
  border: 8px solid firebrick;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 320px){
  .card {
    max-width: 230px;
  }
}

.card > h1 {
  align-self: center;
  text-transform: capitalize;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.card-picture {
  position: relative;
  /* bottom: 100px; */
  top: 40px;
  background-image: url('https://vignette1.wikia.nocookie.net/pokemon/images/b/b8/001Bulbasaur_Dream.png/revision/latest?cb=20140903033758');
  background-size: cover;
  display: flex;
  align-self: center;
  width: 120px;
  height: 120px;
  background-color: #bd3736;
  border: 8px solid firebrick;
  border-radius: 50%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  outline: 0;
}

.button-container > button {
  padding: 4px;
  background-color: firebrick;
  border: 2px solid white;
  color: white;
  font-size: .95em;
  transition-duration: .2s;
}

.button-container > button:hover {
  border-radius: 14px;
}

.button-container > button:active {
  background-color: white;
  border: 4px solid firebrick;
}

.card-content {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  text-align: right;
  width: 50%;
}

b.item {
  margin-right: 14px;
  justify-content: flex-end;
  text-align: right;
}

.search-container input, .search-container button {
  font-size: 1em;
  margin: 3px;
}

.search-field {
  padding: 6px;
}
.search-button {
  padding: 4px;
  border: 4px solid firebrick;
  background-color: #bd3736;
  color: #fff;
  transition-duration: 0.2s;
}

.search-button:hover {
  border-top-right-radius: 8px;
}

@keyframes App-logo-spin {
  0% { transform: rotate(-15deg); left: -4px; }
  50% { transform: rotate(15deg); left: 4px; }
  100% { transform: rotate(-15deg); left: -4px; }
}

@keyframes Loader-jump {
  0% { bottom: 0;}
  25% { bottom: 14px;}
  50% { bottom: 0;}
  75% { bottom: 4px;}
  85% { bottom: 0;}
}

@keyframes fa-hover {
  0% {bottom: 0;}
  25% {bottom: 6px;}  
  75% {bottom: -6px;}
  100% {bottom: 0;}
}
